## Menampilkan isi dataset

In [2]:
import pandas as pd 

data = pd.read_csv("Air_Traffic_Passenger_Statistics.csv")
print(data)

       Activity Period     Operating Airline Operating Airline IATA Code  \
0               200507          ATA Airlines                          TZ
1               200507          ATA Airlines                          TZ
2               200507          ATA Airlines                          TZ
3               200507            Air Canada                          AC
4               200507            Air Canada                          AC
...                ...                   ...                         ...
50725           202212  Vietnam Airlines JSC                          VN
50726           202212       Virgin Atlantic                          VS
50727           202212       Virgin Atlantic                          VS
50728           202212      WestJet Airlines                          WS
50729           202212      WestJet Airlines                          WS

          Published Airline Published Airline IATA Code    GEO Summary  \
0              ATA Airlines                          TZ       Domestic
1              ATA Airlines                          TZ       Domestic
2              ATA Airlines                          TZ       Domestic
3                Air Canada                          AC  International
4                Air Canada                          AC  International
...                     ...                         ...            ...
50725  Vietnam Airlines JSC                          VN  International
50726       Virgin Atlantic                          VS  International
50727       Virgin Atlantic                          VS  International
50728      WestJet Airlines                          WS  International
50729      WestJet Airlines                          WS  International

      GEO Region Activity Type Code Price Category Code       Terminal  \
0             US           Deplaned            Low Fare     Terminal 1
1             US           Enplaned            Low Fare     Terminal 1
2             US     Thru / Transit            Low Fare     Terminal 1
3         Canada           Deplaned               Other     Terminal 1
4         Canada           Enplaned               Other     Terminal 1
...          ...                ...                 ...            ...
50725       Asia           Enplaned               Other  International
50726     Europe           Deplaned               Other  International
50727     Europe           Enplaned               Other  International
50728     Canada           Deplaned               Other  International
50729     Canada           Enplaned               Other  International

      Boarding Area  Passenger Count
0                 B            27271
1                 B            29131
2                 B             5415
3                 B            35156
4                 B            34090
...             ...              ...
50725             A             3197
50726             A             5836
50727             A             6650
50728             A             1679
50729             A             1857

[50730 rows x 12 columns]

## Mengecek apakah ada data yang hilang dan perbaiki nilai yang hilang dengan metode yang sesuai, misalnya dengan menghapus baris yang bernilai null

In [3]:
data_null = data.isnull()
print("\nDeteksi Nilai NULL:")
print(data_null.sum())

Deteksi Nilai NULL:
Activity Period                  0
Operating Airline                0
Operating Airline IATA Code    303
Published Airline                0
Published Airline IATA Code    303
GEO Summary                      0
GEO Region                       0
Activity Type Code               0
Price Category Code              0
Terminal                         0
Boarding Area                    0
Passenger Count                  0
dtype: int64

In [9]:
# Menghapus baris yang memiliki nilai NULL
data_cleaned = data.dropna()
# Mengecek kembali apakah masih ada nilai NULL
data_cleaned.isnull().sum()

Activity Period                0
Operating Airline              0
Operating Airline IATA Code    0
Published Airline              0
Published Airline IATA Code    0
GEO Summary                    0
GEO Region                     0
Activity Type Code             0
Price Category Code            0
Terminal                       0
Boarding Area                  0
Passenger Count                0
dtype: int64

## Mengecek apakah ada data yang terduplikasi atau tidak, jika ada hapus data yang terduplikat

In [10]:
# Mengecek jumlah data duplikat
duplicate_count = data.duplicated().sum()
print(f"Jumlah data duplikat: {duplicate_count}")

# Menghapus data duplikat jika ada
if duplicate_count > 0:
    data_cleaned = data.drop_duplicates()
    print("Data duplikat berhasil dihapus.")
else:
    data_cleaned = data
    print("Tidak ada data duplikat.")

# Menampilkan jumlah data setelah penghapusan
print(f"Jumlah data setelah penghapusan duplikat: {data_cleaned.shape[0]}")

Jumlah data duplikat: 24925
Data duplikat berhasil dihapus.
Jumlah data setelah penghapusan duplikat: 25805

## Mengubah tipe data kolom jika diperlukan

In [11]:
# Mengecek tipe data setiap kolom
print(data_cleaned.info())

# Contoh konversi tipe data kolom yang diperlukan
data_cleaned['Operating Airline IATA Code'] = data_cleaned['Operating Airline IATA Code'].astype('string')
data_cleaned['Published Airline IATA Code'] = data_cleaned['Published Airline IATA Code'].astype('string')

# Cek kembali tipe data setelah konversi
print(data_cleaned.info())

<class 'pandas.core.frame.DataFrame'>
Index: 25805 entries, 0 to 50729
Data columns (total 12 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Activity Period              25805 non-null  int64
 1   Operating Airline            25805 non-null  object
 2   Operating Airline IATA Code  25632 non-null  object
 3   Published Airline            25805 non-null  object
 4   Published Airline IATA Code  25632 non-null  object
 5   GEO Summary                  25805 non-null  object
 6   GEO Region                   25805 non-null  object
 7   Activity Type Code           25805 non-null  object
 8   Price Category Code          25805 non-null  object
 9   Terminal                     25805 non-null  object
 10  Boarding Area                25805 non-null  object
 11  Passenger Count              25805 non-null  int64
dtypes: int64(2), object(10)
memory usage: 2.6+ MB
None
<class 'pandas.core.frame.DataFrame'>
Index: 25805 entries, 0 to 50729
Data columns (total 12 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Activity Period              25805 non-null  int64
 1   Operating Airline            25805 non-null  object
 2   Operating Airline IATA Code  25632 non-null  string
 3   Published Airline            25805 non-null  object
 4   Published Airline IATA Code  25632 non-null  string
 5   GEO Summary                  25805 non-null  object
 6   GEO Region                   25805 non-null  object
 7   Activity Type Code           25805 non-null  object
 8   Price Category Code          25805 non-null  object
 9   Terminal                     25805 non-null  object
 10  Boarding Area                25805 non-null  object
 11  Passenger Count              25805 non-null  int64
dtypes: int64(2), object(8), string(2)
memory usage: 2.6+ MB
None

C:\Users\ASUS\AppData\Local\Temp\ipykernel_27720\47627239.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cleaned['Operating Airline IATA Code'] = data_cleaned['Operating Airline IATA Code'].astype('string')
C:\Users\ASUS\AppData\Local\Temp\ipykernel_27720\47627239.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cleaned['Published Airline IATA Code'] = data_cleaned['Published Airline IATA Code'].astype('string')

## Menyimpan dataset yang telah diproses ke dalam file csv yang baru

In [12]:
# Menghapus data duplikat
data_cleaned = data_cleaned.drop_duplicates()

# Mengecek kembali jumlah data setelah penghapusan duplikat
data_cleaned.shape

(25805, 12)

## Tampilkan data sebelum dilakukan data preprocessing dan setelah dilakukan preprocessing

In [13]:
# Menampilkan 5 data pertama sebelum preprocessing
print("Data Sebelum Preprocessing:")
print(data.head())

# Menampilkan 5 data pertama setelah preprocessing
print("\nData Setelah Preprocessing:")
print(data_cleaned.head())

Data Sebelum Preprocessing:
   Activity Period Operating Airline Operating Airline IATA Code  \
0           200507      ATA Airlines                          TZ
1           200507      ATA Airlines                          TZ
2           200507      ATA Airlines                          TZ
3           200507        Air Canada                          AC
4           200507        Air Canada                          AC

  Published Airline Published Airline IATA Code    GEO Summary GEO Region  \
0      ATA Airlines                          TZ       Domestic         US
1      ATA Airlines                          TZ       Domestic         US
2      ATA Airlines                          TZ       Domestic         US
3        Air Canada                          AC  International     Canada
4        Air Canada                          AC  International     Canada

  Activity Type Code Price Category Code    Terminal Boarding Area  \
0           Deplaned            Low Fare  Terminal 1             B
1           Enplaned            Low Fare  Terminal 1             B
2     Thru / Transit            Low Fare  Terminal 1             B
3           Deplaned               Other  Terminal 1             B
4           Enplaned               Other  Terminal 1             B

   Passenger Count
0            27271
1            29131
2             5415
3            35156
4            34090

Data Setelah Preprocessing:
   Activity Period Operating Airline Operating Airline IATA Code  \
0           200507      ATA Airlines                          TZ
1           200507      ATA Airlines                          TZ
2           200507      ATA Airlines                          TZ
3           200507        Air Canada                          AC
4           200507        Air Canada                          AC

  Published Airline Published Airline IATA Code    GEO Summary GEO Region  \
0      ATA Airlines                          TZ       Domestic         US
1      ATA Airlines                          TZ       Domestic         US
2      ATA Airlines                          TZ       Domestic         US
3        Air Canada                          AC  International     Canada
4        Air Canada                          AC  International     Canada

  Activity Type Code Price Category Code    Terminal Boarding Area  \
0           Deplaned            Low Fare  Terminal 1             B
1           Enplaned            Low Fare  Terminal 1             B
2     Thru / Transit            Low Fare  Terminal 1             B
3           Deplaned               Other  Terminal 1             B
4           Enplaned               Other  Terminal 1             B

   Passenger Count
0            27271
1            29131
2             5415
3            35156
4            34090